body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  display: flex;
  background-color: #f5f7fa;
}

.logo {
  height: 100px;
  margin-bottom: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

  
  /* Estilos para la barra lateral */
  .sidebar {
    width: 250px;
    height: 100vh;
    background: linear-gradient(135deg, #22d3ee, #1e40af);   color: white;
    padding: 20px;
    position: fixed;
    left: 0;
    top: 0;
  }
  
  .sidebar h2 {
    text-align: center;
    margin-top: 0;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar ul li {
    margin: 20px 0;
  }
  
  .sidebar ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    display: block;
    padding: 10px;
    transition: background-color 0.3s ease;
  }
  
  .sidebar ul li a:hover {
    background-color: #e4e7eb67;
  }
  

  /* Estilos para el contenido principal */
  .content {
    margin-left: 270px;
    padding: 20px;
    flex: 1;
  }
  
  .content h1 {
    color: #333;
  }
  

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
.imagen-input {
    margin-bottom: 15px;
}
label {
    display: block;
    margin-bottom: 5px;
}
input[type="file"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}
button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}
.preview {
    max-width: 200px;
    margin-top: 10px;
    border: 1px solid #ddd;
    padding: 5px;
}